.col {
  padding-top: 10px;
}
.logoBox {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
.logoBox > img {
  width: 75%;
}
.logoBox > p {
  margin-top: 20px;
  font-size: 18px;
}
.firstCol > button {
  float: right;
}
.buttonDiv > button {
  margin: auto;
}
