.cropper-holder-slider {
  height: 500px;
  width: 500px;
  display: flex;
  padding: 5px;
  overflow: hidden;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .cropper-holder-slider  {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .cropper-holder-slider  {
    height: 700px;
  }
}
